<div class="container my-5">
  <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5 bg-success-subtle">

  
    <h1 class="text-body-emphasis">Welcome</h1>
    <h3><p class="col-lg-6 mx-auto mb-4">
      Do you want to buy or sell a car? You are in the right place. The car of your dreams is a click away
    </p></h3>
    {# <a class="btn btn-primary px-5 mb-5" type="button"  href="{{ path('app_register')}}">
     Create your account
    </a> #}

  </div>
</div>