 
 
 
 
 <div class="d-flex flex-column align-items-stretch flex-shrink-0 border border-dashed rounded-5  " style="width: 250px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none ">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
     <h1> <strong class="mb-1">You might find it interesting</strong></h1>
    </a>
    <div class="list-group list-group-flush  scrollarea">
      <a href="https://www.promopromo.be/nl" class="list-group-item list-group-item-action  py-3 lh-sm" >
        <div class="d-flex w-100 align-items-center justify-content-between">
        <img src="https://media.istockphoto.com/photos/percentage-sign-picture-id182178918?k=6&m=182178918&s=612x612&w=0&h=Ki4QSpD8_OOxH_3StdH1qVO_CLkM3QaDBHNhPvb9YB4=" style="width: 150px;" >
         
          
        </div>
       
      </a>
      <a href="https://www.autoscout24.be/fr/" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <img src="https://th.bing.com/th/id/R.90881e0bc57a8330999f5b037a47092c?rik=3Pa9udv9uRrcAA&pid=ImgRaw&r=0" style="width: 150px;">
         
        </div>
      
      </a>
      <a href="https://www.amazon.fr/?tag=hydfrabkm-21&ref=pd_sl_781ozcfkwe_e&adgrpid=1362295842742589&hvadid=85143748759658&hvnetw=o&hvqmt=e&hvbmt=be&hvdev=c&hvlocint=&hvlocphy=609&hvtargid=kwd-85144014621571:loc-14&hydadcr=11802_1930447" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
         <img src="https://nypost.com/wp-content/uploads/sites/2/2020/04/amazon-feature.jpg?quality=90&strip=all&w=744" style="width: 150px;">
        </div>
        
      </a>

      <a href="https://www.bol.com/be/fr/" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
         <img src="https://th.bing.com/th/id/R.af9db9700fc5633ed3eb706387ef636d?rik=D4OEYm4X0Y2WRA&pid=ImgRaw&r=0" style="width: 150px;">
        </div>
        
      </a>
      <a href="https://www.tikamoon.com/?utm_id=408008629&msclkid=834c2277071e1ca50f0246e675309e9a&utm_source=bing&utm_medium=cpc&utm_campaign=%5BSearch%5D%20G%C3%A9n%C3%A9rique&utm_term=meuble&utm_content=G%C3%A9n%C3%A9rique_Meuble" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
         <img src="https://th.bing.com/th/id/OIP.x2EogV0OCfA-X2JM4mHA-AHaEc?pid=ImgDet&rs=1" style="width: 150px;">
        </div>
       
      </a>
      <a href="https://www.canva.com/" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
        <img src="https://berghconsulting.com/wp-content/uploads/2021/04/Copy-of-Name-of-Video_Question-6.png" style="width: 150px;">
        </div>
       
      </a>
  
   
     
      {# <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-body-secondary">Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a> #}
      {# <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-body-secondary">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a> #}
      {# <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-body-secondary">Mon</small>
        </div> #}
        {# <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div> #}
      </a>
    </div>
  </div>
